@font-face {
    font-family: 'iranyekanwebregular.woff';
    src: url('../fonts/iranyekanwebregular.woff') format('woff');
}
@font-face { 
    font-family: 'iranyekanwebmedium.woff';
    src: url('../fonts/iranyekanwebmedium.woff') format('woff');
}
@font-face {
    font-family: 'YekanBakhBold.woff';
    src: url('../fonts/YekanBakhBold.woff') format('woff');
}
@font-face {
    font-family: 'YekanBakhHeavy.woff';
    src: url('../fonts/YekanBakhHeavy.woff') format('woff');
}
@font-face {
    font-family: 'YekanBakhMedium.woff';
    src: url('../fonts/YekanBakhMedium.woff') format('woff');
}